*{
  font-size: 14px;
}
.enquiry-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 250px;
  padding: 20px;
  padding-top: 0;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1000;
}


.heading {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}
p{
  font-size: 13px;
}

label {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #e7dcdc;
  border-radius: 6px;
  box-sizing: border-box;
}

input.error {
  border-color: #ff4d4f;
}

.error-message {
  color: #ff4d4f;
  margin-top: 0px;
  font-size: 12px;
}

.btn-container {
  text-align: center;
  margin-top: 15px;
}

.close-btn {
  position: absolute;
  width: 20px;
  text-align: center;
  top: 0px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #e65959;
  background-color: #f8f8f8;
  border-radius: 6px;
}

.submit-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.submit-btn:hover {
  background-color: #45a049;
}

.thank-you {
  background-color: #fff;
  height: 180px !important;
  width: 200px;
  border-radius: 6px;
  padding: 15px;
  margin-top: 20px;
}
.ok-btn{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
@media screen and (min-width: 768px){
  *{
    font-size: 18px !important;
  }
  .thank-you{
    height: 200px !important;
    width: 250px;
  }
  .enquiry-popup{
    width: 400px;
    height: 85%;
    margin-top: 10px;
    padding-top: 0px !important;
  }
  input,label{
    margin-bottom: 5px !important;
  }
}
